<template>
  <div class="home">
    <Header />
    <Brand />
    <FindOut />
    <Services />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Brand from "@/components/Brand.vue";
import FindOut from "@/components/FindOut.vue";
import Services from "@/components/Services.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    Header,
    Brand,
    FindOut,
    Services,
    Footer
  }
};
</script>
