<template>
  <div class="team">
    <Navbar />
    <h1>This is a Team page</h1>
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    Navbar,
    Footer
  }
};
</script>