<template>
  <!--====== BRAND PART START ======-->

  <div class="brand-area pt-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between"
          >
            <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <img src="assets/images/brand-1.png" alt="brand" />
            </div>
            <!-- single logo -->
            <div
              class="single-logo mt-30 wow fadeIn"
              data-wow-duration="1.5s"
              data-wow-delay="0.2s"
            >
              <img src="assets/images/brand-2.png" alt="brand" />
            </div>
            <!-- single logo -->
            <div
              class="single-logo mt-30 wow fadeIn"
              data-wow-duration="1.5s"
              data-wow-delay="0.3s"
            >
              <img src="assets/images/brand-3.png" alt="brand" />
            </div>
            <!-- single logo -->
            <div
              class="single-logo mt-30 wow fadeIn"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <img src="assets/images/brand-4.png" alt="brand" />
            </div>
            <!-- single logo -->
            <div
              class="single-logo mt-30 wow fadeIn"
              data-wow-duration="1.5s"
              data-wow-delay="0.5s"
            >
              <img src="assets/images/brand-5.png" alt="brand" />
            </div>
            <!-- single logo -->
          </div>
          <!-- brand logo -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>

  <!--====== BRAND PART ENDS ======-->
</template>

<script>
export default {
  name: "Bramd"
};
</script>
