<template>
  <!--====== SERVICES PART START ======-->

  <section id="findout" class="services-area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-title text-center pb-40">
            <div class="line m-auto"></div>
            <h3 class="title">
              Clean and simple design,
              <span>Comes with everything you need to get started!</span>
            </h3>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img class="shape" src="assets/images/services-shape.svg" alt="shape" />
              <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape" />
              <i class="lni-baloon"></i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="#">Preparation</a>
              </h4>
              <p
                class="text"
              >This part will be the first contact to the stakeholders. Gathering information as much as possible, assessing requirement, defining what the company trying to achieve as the stepping stone to build solid work of development process.</p>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img class="shape" src="assets/images/services-shape.svg" alt="shape" />
              <img class="shape-1" src="assets/images/services-shape-2.svg" alt="shape" />
              <i class="lni-cog"></i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="#">Mockup</a>
              </h4>
              <p
                class="text"
              >Gathering information done! We start with the design to make your idea more visible. It's all about what is prioritize and collaborating between our analyst, designer and user.</p>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img class="shape" src="assets/images/services-shape.svg" alt="shape" />
              <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape" />
              <i class="lni-bolt-alt"></i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="#">Project Locking</a>
              </h4>
              <p
                class="text"
              >This is where things get real and decision must be made. It's the switch between visioning to execution. It's when things get hard.</p>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img class="shape" src="assets/images/services-shape.svg" alt="shape" />
              <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape" />
              <i class="lni-bolt-alt"></i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="#">Development, Testing & Polishing</a>
              </h4>
              <p
                class="text"
              >Code! Products need to adapt to evolving markets, new ideas, and internal project factors, and Agile is the proven technique to balance change and focus.</p>
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img class="shape" src="assets/images/services-shape.svg" alt="shape" />
              <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape" />
              <i class="lni-bolt-alt"></i>
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="#">Go online. Go Live !</a>
              </h4>
              <p
                class="text"
              >Launch is a critical time. A down-to-the-minute plan is valuable to maximize impact and ensure a smooth day-one.</p>
              <!-- <a class="more" href="#">
                Learn More
                <i class="lni-chevron-right"></i>
              </a>-->
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== SERVICES PART ENDS ======-->
</template>

<script>
export default {
  name: "Services"
};
</script>
