<template>
  <!--====== HEADER PART START ======-->

  <header class="header-area">
    <div class="navbar-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <img src="/ndt2.png" alt="Logo" style="height:30px" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <router-link to="/">Home</router-link>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#features">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#facts">Why</a>
                  </li>
                  <li class="nav-item">
                    <router-link to="/team">Team</router-link>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#blog">Blog</a>
                  </li>
                </ul>
              </div>
              <!-- navbar collapse -->

              <div class="navbar-btn d-none d-sm-inline-block">
                <a class="main-btn" data-scroll-nav="0" href="#pricing">Dopra Studio Here</a>
              </div>
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- navbar area -->

    <div
      id="home"
      class="header-hero bg_cover"
      style="background-image: url(assets/images/banner-bg.svg)"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="header-hero-content text-center">
              <h3
                class="header-sub-title wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.2s"
              >Basic - SaaS Landing Page</h3>
              <h2
                class="header-title wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.5s"
              >You are using free lite version</h2>
              <p
                class="text wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.8s"
              >Please, purchase full version of basic to get all features, sections and commercial use license</p>
              <a
                href="https://rebrand.ly/basic-ud"
                rel="nofollow"
                class="main-btn wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="1.1s"
              >Purchase Now</a>
            </div>
            <!-- header hero content -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-12">
            <div
              class="header-hero-image text-center wow fadeIn"
              data-wow-duration="1.3s"
              data-wow-delay="1.4s"
            >
              <img src="assets/images/header-hero.png" alt="hero" />
            </div>
            <!-- header hero image -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
      <div id="particles-1" class="particles"></div>
    </div>
    <!-- header hero -->
  </header>

  <!--====== HEADER PART ENDS ======-->
</template>

<script>
export default {
  name: "Header"
};
</script>

