<template>
  <!--====== ABOUT PART START ======-->

  <section id="about" class="about-area pt-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="about-content mt-50 wow fadeInLeftBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="section-title">
              <div class="line"></div>
              <h3 class="title">Web Development</h3>
            </div>
            <!-- section title -->
            <p
              class="text"
            >Our Web Developers & Digital Strategist expert team uses the latest technology to create a special portal that increases user traffic, and maybe your company.</p>
            <a href="#" class="main-btn">Learn More</a>
          </div>
          <!-- about content -->
        </div>
        <div class="col-lg-6">
          <div
            class="about-image text-center mt-50 wow fadeInRightBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <img src="assets/images/about1.svg" alt="about" />
          </div>
          <!-- about image -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <div class="about-shape-1">
      <img src="assets/images/about-shape-1.svg" alt="shape" />
    </div>
  </section>

  <!--====== ABOUT PART ENDS ======-->
</template>

<script>
export default {
  name: "Service1"
};
</script>
