<template>
  <div class="home">
    <Service1 />
    <Service2 />
    <Service3 />
    <Service5 />
    <Service4 />
  </div>
</template>

<script>
// @ is an alias to /src
import Service1 from "@/components/Service1.vue";
import Service2 from "@/components/Service2.vue";
import Service3 from "@/components/Service3.vue";
import Service4 from "@/components/Service4.vue";
import Service5 from "@/components/Service5.vue";

export default {
  name: "Services",
  components: {
    Service1,
    Service2,
    Service3,
    Service4,
    Service5
  }
};
</script>
