<template>
  <!--====== ABOUT PART START ======-->

  <section class="about-area pt-70">
    <div class="about-shape-2">
      <img src="assets/images/about-shape-2.svg" alt="shape" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-lg-last">
          <div
            class="about-content mt-50 wow fadeInLeftBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="section-title">
              <div class="line"></div>
              <h3 class="title">Mobile Development</h3>
            </div>
            <!-- section title -->
            <p
              class="text"
            >Develop Mobile Applications to bring your business online. And accelerate the productivity of your business whenever and wherever you are.</p>
            <a href="#" class="main-btn">Learn More</a>
          </div>
          <!-- about content -->
        </div>
        <div class="col-lg-6 order-lg-first">
          <div
            class="about-image text-center mt-50 wow fadeInRightBig"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <img src="assets/images/about2.svg" alt="about" />
          </div>
          <!-- about image -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== ABOUT PART ENDS ======-->
</template>

<script>
export default {
  name: "Service2"
};
</script>
